# 默认忽略所有文件
/*

# 保留.gitignore本身
!.gitignore

# 保留这些路径
!/assets/
!/scripts/
/scripts/*
!/scripts/train_surgical.py
!/scripts/train_maddpg.py
!/scripts/utils/
/scripts/utils/*
!/scripts/utils/training_helpers.py
!/src/

# 忽略缓存
**/__pycache__/