# 默认忽略所有文件
/*

# 保留.gitignore本身
!.gitignore
! README.md

# 保留这些路径
!/assets/
!/scripts/
/scripts/*
!/scripts/train_surgical.py
!/scripts/train_maddpg.py
!/scripts/train_rmappo.py
!/scripts/train_epigraph.py
!/scripts/play_rmappo.py
!/scripts/play_epigraph.py
!/scripts/utils/
/scripts/utils/*
!/scripts/utils/training_helpers_maddpg.py
!/scripts/utils/training_helpers_rmappo.py
!/scripts/utils/training_helpers_epigraph.py
!/src/

# 忽略缓存
**/__pycache__/